# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Solana/Anchor
txpredict-contracts/target/
txpredict-contracts/.anchor/
txpredict-contracts/test-ledger/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
